<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
 
<connectionStrings><add name="Entities" connectionString="metadata=res://*/SudentData.csdl|res://*/SudentData.ssdl|res://*/SudentData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5RDV03G;initial catalog=mvvm+ef;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>